#view {
  fill: white;
}
text {
  font-family: Seville-Book-Condensed;
  font-size: 50;
}
.background {
  viewport-fill: white;
}
#clock {
  font-size: 90;
  font-family: Seville-Bold-Condensed;
  text-length: 50;
  text-anchor: middle;
  x: 50%;
  y: 50%+25;
  fill: white;
}

#date {
  font-size: 50;
  font-family: Colfax-Bold;
  text-length: 50;
  text-anchor: middle;
  x: 50%;
  y: 50%+80;
  fill: white;
}

.corner-l {
  fill: yellow;
  text-anchor: start;
  text-length: 60;
}
.corner-r {
  fill: yellow;
  text-anchor: end;
  text-length: 60;
}
